node-red-app/bond-films-flow.json
[{"id":"a252948d.9913c8","type":"tab","label":"Front End Flow","disabled":false,"info":"This is a demo where I pull data from a Db2 DB, running on AIX. In this case, I have set it up to be able to \"ask\" my data about actors who have played in the Bond Films, with the hope of addressing the Curse of the Bond girls."},{"id":"c99e5b55.507ac8","type":"tab","label":"Format output","disabled":false,"info":""},{"id":"b16dbdf4.59f6c","type":"http in","z":"a252948d.9913c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["73846e09.4c6f4"]]},{"id":"d44f3680.694228","type":"comment","z":"a252948d.9913c8","name":"Conversation REST API","info":"","x":140,"y":140,"wires":[]},{"id":"779da7bf.2bbb88","type":"switch","z":"a252948d.9913c8","name":"Check intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"Greeting","vt":"str"},{"t":"eq","v":"List_Films_With_Character","vt":"str"},{"t":"eq","v":"List_Canon_Bond_Films","vt":"str"},{"t":"eq","v":"List_Bond_Girl_Actresses","vt":"str"},{"t":"eq","v":"List_Principals_In_Film","vt":"str"},{"t":"eq","v":"List_Career_History","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":110,"y":320,"wires":[["8370cafa.d8dd78"],["2b5045bf.18ebaa"],["1c54b7e2.bcb2d8"],["dd7b3f53.fd893"],["52631594.394dfc"],["23cfbf78.04c9a"]]},{"id":"595d24ac.905abc","type":"function","z":"a252948d.9913c8","name":"Pull out intent","func":"var intent=msg.payload.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["779da7bf.2bbb88"]]},{"id":"da7768a7.8587f8","type":"watson-conversation-v1","z":"a252948d.9913c8","name":"Bond Assistant","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":820,"y":200,"wires":[["595d24ac.905abc"]]},{"id":"8370cafa.d8dd78","type":"link out","z":"a252948d.9913c8","name":"Intent \"Greeting\" format out","links":["a5aa1cf1.33a06"],"x":935,"y":240,"wires":[]},{"id":"a38f1272.bfc2b","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Films_With_Character\" out","links":["7c18afe8.1af77"],"x":1015,"y":300,"wires":[]},{"id":"d924c349.527f2","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2020,"y":380,"wires":[]},{"id":"7e16e7d2.13e7b8","type":"link out","z":"a252948d.9913c8","name":"List Bond Films format in","links":["a3bab47b.b316f8"],"x":935,"y":340,"wires":[]},{"id":"14588c05.8e52c4","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["18af5255.da1bee"]]},{"id":"a5aa1cf1.33a06","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"Greeting\" format in","links":["8370cafa.d8dd78"],"x":195,"y":120,"wires":[["14588c05.8e52c4"]]},{"id":"977c324d.8678a","type":"link out","z":"c99e5b55.507ac8","name":"Output to webpage out","links":["797b77c.3a0b788","4f09e3b2.a1560c"],"x":975,"y":460,"wires":[]},{"id":"18af5255.da1bee","type":"template","z":"c99e5b55.507ac8","name":"HTML Template format greating","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}","output":"str","x":690,"y":120,"wires":[["977c324d.8678a"]]},{"id":"7c18afe8.1af77","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Films_With_Character\" in","links":["a38f1272.bfc2b"],"x":195,"y":200,"wires":[["37f4a76c.ce0828"]]},{"id":"d48519c4.3dc938","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":760,"y":240,"wires":[["977c324d.8678a"]]},{"id":"a3bab47b.b316f8","type":"link in","z":"c99e5b55.507ac8","name":"List Bond Films format out","links":["7e16e7d2.13e7b8"],"x":195,"y":300,"wires":[["de3bc0f2.6a3f5"]]},{"id":"c3cc7aca.ee9578","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>I think you wanted me to list the official, canon, Bond Films. Here is the list I found online:</p>\n{{#payload.botresponse.messageout.output.text}}\n{{.}}\n{{/payload.botresponse.messageout.output.text}}\n</p>\n<p>You may may want to check out the article I got that from  \n<a target=\"_blank\" href=\"https://www.pocket-lint.com/tv/news/148096-james-bond-007-best-movie-viewing-order-chronological-release\">here</a>.</p>","output":"str","x":610,"y":300,"wires":[["977c324d.8678a"]]},{"id":"de3bc0f2.6a3f5","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output=msg.payload;\noutput = output.replace(/\\)/g,\"\\), \")\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output.slice(0, -2)\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["c3cc7aca.ee9578"]]},{"id":"73846e09.4c6f4","type":"function","z":"a252948d.9913c8","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\nmsg.params.apikey = \"brt5stRsDIIwV1fXF61wrRJ3cFaUzuw1K1gJN11fpIoi\"\n\nglobal.set(\"mydata\",{});\nglobal.set(\"mydata\",msg.mydata);\nglobal.set(\"params\",{});\nglobal.set(\"params\",msg.params);\nglobal.set(\"request\",{});\nglobal.set(\"request\",msg.req);\nglobal.set(\"response\",{});\nglobal.set(\"response\",msg.res);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["2f2bc080.1e4de"]]},{"id":"2b5045bf.18ebaa","type":"function","z":"a252948d.9913c8","name":"Pull out character","func":"var character=msg.payload.entities[1].value;\nmsg.character={};\nmsg.character.name=character;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["76568516.ea054c"]]},{"id":"d078904d.af252","type":"link in","z":"c99e5b55.507ac8","name":"List Bond Girls format out","links":["db547ccb.1d4c6"],"x":195,"y":440,"wires":[["a2aa52d1.3de2d"]]},{"id":"2fcbeecb.a0f5d2","type":"function","z":"c99e5b55.507ac8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["1400268.eaa45da"]]},{"id":"1d7e07c6.7c8f18","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>I think you wanted me to list the actresses who played Bond Girls in the official, canon, Bond Films. Here is the list I found online:</p>\n{{#payload.botresponse.messageout.output.text}}\n{{.}}\n{{/payload.botresponse.messageout.output.text}}\n</p>\n<p>You may may want to check out the article I got that from  \n<a target=\"_blank\" href=\"https://en.wikipedia.org/wiki/Bond_girl#Eon_Productions_films\">here</a>.</p>","output":"str","x":670,"y":520,"wires":[["977c324d.8678a"]]},{"id":"1400268.eaa45da","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output=msg.payload;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text = output\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["1d7e07c6.7c8f18"]]},{"id":"db547ccb.1d4c6","type":"link out","z":"a252948d.9913c8","name":"List Bond Films format in","links":["d078904d.af252"],"x":935,"y":380,"wires":[]},{"id":"a2aa52d1.3de2d","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"var text = msg.payload.replace (\"\\[\", \"\");\ntext = text.replace (\"\\]\",\"\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["ba61b2be.fe104"]]},{"id":"ba61b2be.fe104","type":"split","z":"c99e5b55.507ac8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":440,"wires":[["df10fa45.a1d058"]]},{"id":"df10fa45.a1d058","type":"function","z":"c99e5b55.507ac8","name":"Remove quotes","func":"var text = msg.payload.replace (\"\\'\", \"\");\ntext = text.replace (\"\\'\",\"\");\ntext = text.replace (\"\\\"\",\"\");\ntext = text.replace (\"\\\"\",\"\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["875b9f33.196de"]]},{"id":"875b9f33.196de","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":480,"wires":[["2fcbeecb.a0f5d2"]]},{"id":"52631594.394dfc","type":"function","z":"a252948d.9913c8","name":"Pull out film and format","func":"array=[];\narray=msg.payload.entities.filter(function(Bond_Films) {\n    return Bond_Films.entity == \"Canon_Bond_Films\";\n});\n\nvar film=array[0].value;\nmsg.film={};\nmsg.film.name=film;\n\narray=[];\narray=msg.payload.entities.filter(function(Format) {\n    return Format.entity == \"Output_Type\";\n});\n\nif (typeof array[0] == \"undefined\") {\n    msg.format=\"Normal\"\n} else if (array[0].value == \"CSV\") {\n    msg.format=\"CSV\"\n} else {\n    msg.format=\"Normal\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["121758b7.1bf557"]]},{"id":"a8931492.12d248","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Principals_In_Film\" in","links":["4349a73e.6dda58"],"x":195,"y":580,"wires":[["dbbddb6a.e03738"]]},{"id":"3b4f220d.bb56ce","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":800,"y":640,"wires":[["977c324d.8678a","ef7f1a8.111bce8"]]},{"id":"9da7a41d.5a0f18","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":640,"wires":[["ea343899.cfa778"]]},{"id":"ea343899.cfa778","type":"function","z":"c99e5b55.507ac8","name":"Reformat output","func":"actor=msg.payload.PRIMARY_NAME\ncharacter=msg.payload.CHARACTERS\ncharacter=character.replace (\"\\[\",\"\");\ncharacter=character.replace (\"\\]\",\"\");\nmsg.payload={};\nmsg.payload=actor + \" played the character \" + character;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["daed8b5b.216ac8"]]},{"id":"daed8b5b.216ac8","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":580,"wires":[["97adfd4f.50ffa"]]},{"id":"97adfd4f.50ffa","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_actors = msg.payload.length\nfilm = msg.film.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list all main actors in the film \" + film + \". I found \" + num_actors + \" of them. Here is the list:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["3b4f220d.bb56ce","d1756abe.c33e38"]]},{"id":"4349a73e.6dda58","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Principals_In_Film\" out","links":["a8931492.12d248"],"x":1015,"y":420,"wires":[]},{"id":"23cfbf78.04c9a","type":"function","z":"a252948d.9913c8","name":"Pull out character and format","func":"array=[];\narray=msg.payload.entities.filter(function(Bond_Girl_Actress) {\n    return Bond_Girl_Actress.entity == \"Bond_Girl_Actresses\";\n});\n\nvar actor=array[0].value;\nmsg.actor={};\nmsg.actor.name=actor;\n\narray=[];\narray=msg.payload.entities.filter(function(Format) {\n    return Format.entity == \"Output_Type\";\n});\n\nif (typeof array[0] == \"undefined\") {\n    msg.format=\"Normal\"\n} else if (array[0].value == \"CSV\") {\n    msg.format=\"CSV\"\n} else {\n    msg.format=\"Normal\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["639443cf.52709c"]]},{"id":"e524dcd8.dbcfc","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Career_History\" in","links":["12c67c11.102df4"],"x":175,"y":960,"wires":[["ad689b46.5b0b88"]]},{"id":"12c67c11.102df4","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Career_History\" out","links":["e524dcd8.dbcfc"],"x":1055,"y":460,"wires":[]},{"id":"d6ee81d.121328","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"Character=msg.payload.CHARACTERS\nCharacter=Character.replace (\"\\[\",\"\");\nCharacter=Character.replace (\"\\]\",\"\");\nmsg.payload.CHARACTERS=Character\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1020,"wires":[["b41f51a6.ae8cf"]]},{"id":"f5db7e.1faaf48","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":1020,"wires":[["d6ee81d.121328"]]},{"id":"b41f51a6.ae8cf","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":1020,"wires":[["c8636c84.e96d4"]]},{"id":"9c500f04.73b45","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_productions = msg.actor.num_productions\nactor = msg.actor.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = \"I think you wanted me to list the career history of  \" + actor + \". I found \" + num_productions + \" productions. Here is the list:\" + output;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["977c324d.8678a","50267fdd.6ee02"]]},{"id":"c8636c84.e96d4","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Title</th><th>Character</th><th>Title Type</th><th>Release Year</th><th>Avg Rating</th><th>Num Votes</th></tr>\n    {{#payload}}\n    <tr>\n        <td>{{PRIMARYTITLE}}</td>\n        <td>{{CHARACTERS}}</td>\n        <td>{{TITLETYPE}}</td>\n        <td>{{STARTYEAR}}</td>\n        <td>{{AVERAGERATING}}</td>\n        <td>{{NUMVOTES}}</td>\n    </tr>\n    {{/payload}}\n</table>","output":"str","x":500,"y":1080,"wires":[["9c500f04.73b45"]]},{"id":"1e87fc87.ef01b3","type":"function","z":"c99e5b55.507ac8","name":"Num Productions","func":"num_productions = msg.payload.length\nmsg.actor.num_productions = num_productions\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":960,"wires":[["b4145934.133988"]]},{"id":"72ab55e9.95d61c","type":"switch","z":"c99e5b55.507ac8","name":"","property":"format","propertyType":"msg","rules":[{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"CSV","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":640,"wires":[["9da7a41d.5a0f18"],["e13ad469.1718a8"]]},{"id":"340e955b.2d6eda","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":680,"y":760,"wires":[["977c324d.8678a"]]},{"id":"e13ad469.1718a8","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":720,"wires":[["fcb74253.0a1c4"]]},{"id":"fcb74253.0a1c4","type":"function","z":"c99e5b55.507ac8","name":"Reformat output","func":"actor=msg.payload.PRIMARY_NAME\ncharacter=msg.payload.CHARACTERS\ncharacter=character.replace (\"\\[\",\"\");\ncharacter=character.replace (\"\\]\",\"\");\nmsg.payload={};\nmsg.payload=actor + \", \" + character;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["1bb0800d.5e811"]]},{"id":"1bb0800d.5e811","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":720,"wires":[["c5312644.a7fe08"]]},{"id":"c5312644.a7fe08","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_actors = msg.payload.length\nfilm = msg.film.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"Actor, Character\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list all main actors in the film \" + film + \" in CSV format. I found \" + num_actors + \" of them. Here is the ouput:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["340e955b.2d6eda","166dfff7.a5eeb"]]},{"id":"c27df0fd.533c5","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_productions = msg.actor.num_productions\nactor = msg.actor.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"Title, Character, Title Type, Release Year, Avg Rating, Num Votes\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list the career history of  \" + actor + \" in CSV format. I found \" + num_productions + \" productions. Here is the list:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1160,"wires":[["f91d0248.96a0c"]]},{"id":"f91d0248.96a0c","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":760,"y":1160,"wires":[["977c324d.8678a"]]},{"id":"b4145934.133988","type":"switch","z":"c99e5b55.507ac8","name":"","property":"format","propertyType":"msg","rules":[{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"CSV","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1040,"wires":[["f5db7e.1faaf48"],["f1b41ee7.fefa4"]]},{"id":"f1b41ee7.fefa4","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":1120,"wires":[["9c469050.c0f24"]]},{"id":"9c469050.c0f24","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"Character=msg.payload.CHARACTERS\nCharacter=Character.replace (\"[\",\"\");\nCharacter=Character.replace (\"]\",\"\");\nCharacter=Character.replace (/\"/g,\"\");\n\nmsg.payload.CHARACTERS=Character\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1120,"wires":[["6fa1c729.ab8d38"]]},{"id":"6fa1c729.ab8d38","type":"csv","z":"c99e5b55.507ac8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":750,"y":1120,"wires":[["25e1299a.095716"]]},{"id":"25e1299a.095716","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1160,"wires":[["c27df0fd.533c5"]]},{"id":"6ba03afb.235734","type":"http in","z":"a252948d.9913c8","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":120,"y":700,"wires":[["2239e7.89ab661a"]]},{"id":"9257fe6e.a8677","type":"template","z":"a252948d.9913c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n    </title>\n    <style>\n        {{{payload.style}}}\n    </style>\n  </head>\n  <body>\n\n    <div class=\"main\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div class =\"input\">\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n          </form>\n\t      <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":730,"y":700,"wires":[["478a317d.b3883"]]},{"id":"478a317d.b3883","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":890,"y":700,"wires":[]},{"id":"cfed4e34.91ea6","type":"template","z":"a252948d.9913c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var emoji;\n    var html = '<div class=\"container\">';\n    if (who == \"Bot\") {\n        emoji = \"&#129302 Bot\";\n        html += '<div class=\"boticon\">' + emoji + '</div><div class=\"botspeak\">';\n    }\n    else if (who == \"Error\") {\n        emoji = \"&#128165 Error\";\n        html += '<div class=\"erricon\">' + emoji + '</div><div class=\"errspeak\">';\n    }\n    else if (who == \"You\") {\n        emoji = \"&#129489 You\";\n        html += '<div class=\"youicon\">' + emoji + '</div><div class=\"youspeak\">';\n    }\n    html +=  message;\n    html += '</div></div>'\n    return html;\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('Bot', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":550,"y":700,"wires":[["9257fe6e.a8677"]]},{"id":"a7922260.42a","type":"comment","z":"a252948d.9913c8","name":"Conversation BOT Template","info":"","x":159,"y":659,"wires":[]},{"id":"ac493188.c08ab","type":"http in","z":"a252948d.9913c8","name":"Healthcheck URL","url":"/healthz","method":"get","upload":false,"swaggerDoc":"","x":120,"y":800,"wires":[["8355cc.60213a38"]]},{"id":"497a4485.f92adc","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":490,"y":800,"wires":[]},{"id":"8355cc.60213a38","type":"template","z":"a252948d.9913c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ok","output":"str","x":320,"y":800,"wires":[["497a4485.f92adc"]]},{"id":"f3e5f374.45a79","type":"comment","z":"a252948d.9913c8","name":"Healthcheck endpoint","info":"","x":140,"y":760,"wires":[]},{"id":"2239e7.89ab661a","type":"template","z":"a252948d.9913c8","name":"Stylesheet","field":"payload.style","fieldType":"msg","format":"javascript","syntax":"mustache","template":"body {\n    font-size: 1em;\n    font-family: Arial, Helvetica, sans-serif;\n}\nh1 {\n    font-size: 2.5em;\n    color: black;\n    padding: 10px;\n}\n.main {\n    max-width: 800px;\n    background-color:#cccccc;\n    border: 2px solid #222222;\n    border-radius: 20px;\n    padding: 10px;\n    margin: 50px;\n}\n.container {\n    border: 2px solid #333333;\n    background-color: #eeeeee;\n    border-radius: 20px;\n    padding: 10px;\n    margin: 10px;\n}\nlabel {\n    margin: 20px 10px;\n}\ninput {\n    min-width: 60%;\n    padding: 5px;\n    margin: 5px;\n}\n.input {\n    text-align: center;\n}\n.container::after {\n    content: \"\";\n    clear: both;\n    display: table;\n}\n.boticon {\n    font-size: 2em;\n    width: 100px;\n    float: left;\n}\n.botspeak {\n    padding: 0px;\n    display: inline-block;\n    max-width: 80%;\n}\n.youicon {\n    font-size: 2em;\n    width: 100px;\n    float: right;\n    text-align: right;\n}\n.youspeak {\n    padding: 0px;\n    text-align: right;\n}\n.erricon {\n    font-size: 2em;\n    width: 200px;\n    float: left;\n    color: red;\n}\n.errspeak {\n    padding: 0px;\n    color: darkred;\n    display: inline-block;\n    max-width: 60%;\n}\nbutton {\n    min-width: 60%;\n    border-radius: 5px;\n    padding: 5px;\n    margin: 5px;\n    background-color: #dddddd;\n    color: black;\n}","output":"str","x":350,"y":700,"wires":[["cfed4e34.91ea6"]]},{"id":"2f2bc080.1e4de","type":"function","z":"a252948d.9913c8","name":"Set Watson Assistant Creds","func":"var apikey = env.get('apikey');\nvar endpoint = env.get('endpoint');\nvar workspace_id = env.get('workspace_id')\n\nmsg.params.apikey = apikey;\nmsg.params.endpoint = endpoint;\nmsg.params.workspace_id = \"09a96335-e80e-4aa5-9b4b-7af6d291e625\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["da7768a7.8587f8"]]},{"id":"1c54b7e2.bcb2d8","type":"function","z":"a252948d.9913c8","name":"Set URL for list-bond-films-app","func":"var url = msg.payload;\nvar host = env.get('LIST_BOND_FILMS_APP_SERVICE_HOST');\nvar port = env.get('LIST_BOND_FILMS_APP_SERVICE_PORT');\nmsg.url = \"http://\" + host + \":\" + port;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["7776285b.7b0048"]]},{"id":"7776285b.7b0048","type":"http request","z":"a252948d.9913c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":340,"wires":[["7e16e7d2.13e7b8"]]},{"id":"76568516.ea054c","type":"function","z":"a252948d.9913c8","name":"Set URL for IMDB_READER_APP for getFilmsWithChar","func":"var url = msg.payload;\nvar host = env.get('IMDB_READER_APP_SERVICE_HOST');\nvar port = env.get('IMDB_READER_APP_SERVICE_PORT');\nvar character = msg.character.name;\nmsg.url = \"http://\" + host + \":\" + port + \"/getFilmsWithChar?id=\" + character;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["a796d6ce.bc5378"]]},{"id":"a796d6ce.bc5378","type":"http request","z":"a252948d.9913c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":300,"wires":[["a38f1272.bfc2b"]]},{"id":"121758b7.1bf557","type":"function","z":"a252948d.9913c8","name":"Set URL for IMDB_READER_APP for getActorsInFilm","func":"var url = msg.payload;\nvar host = env.get('IMDB_READER_APP_SERVICE_HOST');\nvar port = env.get('IMDB_READER_APP_SERVICE_PORT');\nvar film = msg.film.name;\nmsg.url = \"http://\" + host + \":\" + port + \"/getActorsInFilm?id=\" + film;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["40cf2c74.218014"]]},{"id":"40cf2c74.218014","type":"http request","z":"a252948d.9913c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":420,"wires":[["4349a73e.6dda58"]]},{"id":"639443cf.52709c","type":"function","z":"a252948d.9913c8","name":"Set URL for IMDB_READER_APP for getCareerHistory","func":"var url = msg.payload;\nvar host = env.get('IMDB_READER_APP_SERVICE_HOST');\nvar port = env.get('IMDB_READER_APP_SERVICE_PORT');\nvar actor = msg.actor.name;\nmsg.url = \"http://\" + host + \":\" + port + \"/getCareerHistory?id=\" + actor;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["5db50f2.e8ea7f"]]},{"id":"f80d4de4.11c6b","type":"http request","z":"a252948d.9913c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":460,"wires":[["12c67c11.102df4","9a137c1e.2f1d1"]]},{"id":"dd7b3f53.fd893","type":"function","z":"a252948d.9913c8","name":"Set URL for list-bond-girls-app","func":"var url = msg.payload;\nvar host = env.get('LIST_BOND_GIRLS_APP_SERVICE_HOST');\nvar port = env.get('LIST_BOND_GIRLS_APP_SERVICE_PORT');\nmsg.url = \"http://\" + host + \":\" + port;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["41621d90.731ff4"]]},{"id":"41621d90.731ff4","type":"http request","z":"a252948d.9913c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":380,"wires":[["db547ccb.1d4c6"]]},{"id":"f9a45727.dfcc58","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":200,"wires":[["470dc43e.3f5dbc"]]},{"id":"e43ca738.0a5f28","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":240,"wires":[["f1114627.49f398"]]},{"id":"37f4a76c.ce0828","type":"change","z":"c99e5b55.507ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["bf736e2a.39afe"]]},{"id":"470dc43e.3f5dbc","type":"change","z":"c99e5b55.507ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PRIMARY_TITLE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["e43ca738.0a5f28"]]},{"id":"f1114627.49f398","type":"json","z":"c99e5b55.507ac8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":240,"wires":[["4b36f120.5947f"]]},{"id":"4b36f120.5947f","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"var text = msg.payload.replace (\"\\[\", \"\");\ntext = text.replace (\"\\]\",\"\");\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text = \"I think you want me to list the films with the character \" + msg.character.name + \". I found \" + msg.num_productions + \" of them, and they are the following: \" + text\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["d48519c4.3dc938"]]},{"id":"bf736e2a.39afe","type":"function","z":"c99e5b55.507ac8","name":"Num Productions","func":"num_productions = msg.payload.length\nmsg.num_productions = num_productions\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["f9a45727.dfcc58"]]},{"id":"dbbddb6a.e03738","type":"change","z":"c99e5b55.507ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["72ab55e9.95d61c"]]},{"id":"70835887.9f4fa8","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":910,"y":140,"wires":[]},{"id":"4f09e3b2.a1560c","type":"link in","z":"a252948d.9913c8","name":"","links":["977c324d.8678a"],"x":795,"y":140,"wires":[["70835887.9f4fa8"]]},{"id":"d1756abe.c33e38","type":"debug","z":"c99e5b55.507ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":680,"wires":[]},{"id":"ef7f1a8.111bce8","type":"debug","z":"c99e5b55.507ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":680,"wires":[]},{"id":"166dfff7.a5eeb","type":"debug","z":"c99e5b55.507ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":820,"wires":[]},{"id":"ad689b46.5b0b88","type":"change","z":"c99e5b55.507ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":960,"wires":[["1e87fc87.ef01b3"]]},{"id":"9a137c1e.2f1d1","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":540,"wires":[]},{"id":"50267fdd.6ee02","type":"debug","z":"c99e5b55.507ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1080,"wires":[]},{"id":"5db50f2.e8ea7f","type":"change","z":"a252948d.9913c8","name":"","rules":[{"t":"set","p":"requestTimeout","pt":"msg","to":"600000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":500,"wires":[["f80d4de4.11c6b"]]}]
